
/* Imports */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Poppins:200,300,400,500,600,700,800,900|Sacramento');

/* Settings */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #616161;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.green {
  color: #38c695;
}
.violet {
  color: #b27cf5;
}
.yellow {
  color: #feb960;
}
.red {
  color: #fc5f45;
}
.fourblock {
  width: 25%;
}
.oneblock {
  width: 100%;
}
.redline {
  content: "";
  height: 3px;
  background-color: #fc5f45;
  display: inline-block;
}
.greenline {
  content: "";
  height: 3px;
  background-color: #38c695;
  display: inline-block;
}
.violetline {
  content: "";
  height: 3px;
  background-color: #b27cf5;
  display: inline-block;
}
.yellowline {
  content: "";
  height: 3px;
  background-color: #feb960;
  display: inline-block;
}

/* Base elements */
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  background-color: #fc5f45;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.lightgreen {
  width: 176px;
  height: 46px;
  color: #38c695;
  background-color: #fff;
  border-radius: 25px;
  border: 2px #38c695 solid;
}
.lightviolet {
  width: 176px;
  height: 46px;
  color: #b27cf5;
  background-color: #fff;
  border-radius: 25px;
  border: 2px #b27cf5 solid;
}
.text__title {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.text__p {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.white {
  color: #fff;
}
/* Header */
.header{
  width: 100%;
  font-weight: 500;
  font-size: 14px;
}
.header__inner {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-block;
}
.nav {
  display: inline-block;
}
.nav__item {
  text-transform: capitalize;
  text-decoration: none;
  color: #272727;
  padding-right: 22px;
  transition: 0.2s linear;
}
.nav__item:hover {
   color: #fc5f45;
}

/* Home block */
.home {
  width: 100%;
  height: 650px;
  background: url('../img/first_bg.jpg') no-repeat center;
}
.home__transparent {
  width: 100%;
  background: rgba(38,39,50,.85);
}
.home__inner {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__text {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 400;
  font-size: 55px;
  color: #fff;
  text-align: center;
  width: 840px;
}
.home__button {
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

.home__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
}
.feature {
  text-align: center;
  width: 150px;
}
.feature_img {
  width: 45px;
  height: 45px;
}
.feature__text {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 38px;
}

/* About block */
.about {
  width: 100%;
  height: 1000px;
}
.about__inner {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__img {
  border: 4px #ddd solid;
  width: 555px;
  height: 700px;
}
.text_wrapper {
  width: 655px;
  margin-left: -65px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.about__text {
  padding: 80px 50px;
}
.bottomline {
  display: block;
  width: 100%;
  font-size: 0;
  vertical-align: bottom;
}

/* Focus block*/
.focus {
  width: 100%;
  height: 825px;
  background-color: #f7f7f7;
}
.focus__inner {
  height: 825px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.focus__wrapper {
  width: 100%;
  text-align: center;
}
.focus__blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.focus__block {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.block__wrapper {
  display: inline-block;
  height: 230px;
  width: 205px;
  padding: 60px 30px;
}
.focus__title {
  font-weight: 500;
  font-size: 16px;
  margin: 30px 0;
}

/* Video block */
.video__inner {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f4049;
}
.video__wrapper {
  text-align: center;
}
.video__title {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}
.video__btn {
  margin: 40px 0;
}

/* Portfolio block */
.portfolio__inner {
  width: 100%;
  height: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.portfolio__wrapper {
  text-align: center;
}
.portfolio__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.portfolio__block {
  img {
    width: 100%;
    height: 100%;
  }
  width: 360px;
  height: 288px;
  margin: 10px;
  background-color: #fff;
}
.portfolio__block:hover {
  width: 350px;
  height: 278px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Team block */
.team__inner {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}
.team__wrapper {
  text-align: center;
}
.team__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.team__block {
  width: 263px;
  height: 350px;
  background-color: #fff;
  margin: 0 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.block__inner {
  padding: 5px;
}
.block__text {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block__title {
  font-size: 18px;
  font-weight: 500;
}
.member_description {
  width: 1112px;
  height: 352px;
  background: #fff;
  margin: 50px auto;
  position: relative;
}
.member_description::after,
.member_description::before {
  content: '';
  position: absolute;
  background: #fff;
  left: 90px;
  top: -24px;
  width: 70px;
  height: 70px;
  z-index: -1;
  transform: rotate(45deg);
}
.member_description::before {
  z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
  box-shadow: none; /* Прячем тень */
}
.member_description__wrapper {
  padding: 74px;
}
.title__wrapper {
  text-align: left;
  color: #000;
}
.description__text_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.description_text {
  width: 640px;
  text-align: left;
  font-weight: 100;
  font-size: 15px;
}
.social_links {
  border-left: 2px #efefef solid;
  text-align: left;
  padding: 10px 25px;
}
.social_link {
  a {
    text-decoration: none;
    color: #000;
  }
  img {
    margin-right: 10px;
    vertical-align: middle;
    height: 18px;
  }
  margin: 10px;
}

/* Stats block */
.stats {
  background: url('../img/stats_bg.jpg') center no-repeat;
}
.stats_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 75px;
}
.stats__block {
  text-align: center;
}
.stat_img {
  margin-bottom: 30px;
}
.numeric {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}
.caption {
  margin-bottom: 30px;
}
/* Work steps block */
.worksteps__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
}
.worksteps__title {
  text-align: center;
}
.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.steps_wrapper {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.steps_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  padding: 40px;
}
.item_number {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #e0e0e0;
  margin-top: -180px;
}
.item_text {
  padding: 20px;
}
.item_title {
  h3 {
    font-weight: 300;
  }
  font-size: 20px;
  color: #000;
}
.item_caption {
  p {
    font-size: 15px;
    font-weight: 200;
  }
  padding-top: 20px;
}
.steps_images {
  img {
    width: 550px;
  }
  width: 550px;
  font-size: 0px;
  margin-top: 100px;
  margin-right: -50%;
}
.leftstep {
  margin:0 75% 0 -75%;
}
.rightstep {
  margin:0 -75% 0 75%;
}

/* Price block */
.price {
  background-color: #f7f7f7;
}
.price_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 145px 0;
}
.price_blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.price_block {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 15px;
}
.price_content {
  padding: 30px 70px;
  text-align: center;
}
.price_title {
  color: #000;
  font-size: 20px;
}
.circle_price {
  width: 112px;
  height: 112px;
  border: 4px #38c695 solid;
  border-radius: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.circle_red {
  border-color: #fc5f45;
}
.circle_violet {
  border-color: #b27cf5;
}
.circle_price__inner {
  width: 104px;
  height: 104px;
  border-radius: 104px;
  background-color: #38c695;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.circle_red__inner {
  background-color: #fc5f45;
}
.circle_violet__inner {
  background-color: #b27cf5;
}
.circle_price__title {
  color: #fff;
  font-size: 24px;
}
.circle_price__text {
  color: #fff;
  font-size: 12px;
}
.price_list {
  b {
    color: #000;
    font-weight: 500;
  }
  font-weight: 200;
  font-size: 15px;
  color: #616161;
  padding-bottom: 20px;
}

/* Testimonials block */
.testimonials {
  background-color: #3f4049;
  padding: 140px 0;
}
.testimonials_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 85%;
  margin-top: 80px;
}
.testimonials__text {
  background-color: #fff;
}
.testimonials__text_wrapper {
  padding: 40px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.client_caption {
  font-family: 'Sacramento', cursive;
  font-size: 32px;
  margin-top: 30px;
  color: #000;
}
.client_name {
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
.testimonials__switcher {
  width: 85%;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.switchers {
  display: flex;
  flex-direction: row;
}
.switcher__item {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
}
.active_switcher {
  width: 8px;
  height: 8px;
  padding: 2px;
  border: 2px solid #fc5f45;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active_button {
  width: 6px;
  height: 6px;
  background-color: #fc5f45;
  border-radius: 6px;
}

/* Why Select Us Block */
.selectus {
  padding: 145px 0 100px 0;
}
.selectus__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.selectus_table {
  display: flex;
  align-items: center;
  justify-content: center;
  //flex-direction: row;
  flex-wrap: wrap;
}
.table__item {
  width: 270px;
  padding: 20px;
}
.item__header {
  width: 57%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__title {
  padding-left: 10px;
  margin-top: -5px;
}
.title_text {
  font-weight: 400;
}
.content__text {
  font-size: 12px;
  font-weight: 200;
}
.selectus_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 70px;
}
.action {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 200;
}


/* */
